ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.item{
    width: 100px;
    height: 100px;
    background-color: orange;
    border: 1px solid;
}
.list{
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    justify-content: space-evenly;
    flex-wrap: wrap;


    background-color: fuchsia;
    width: 600px;
    height: 600px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
}